.body-container {
    width: auto;
    height: auto;
    padding: 20px 50px;
    margin: 50px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.analyze-title {
    display: inline-block
}

.analyze-title {
    display: inline-block;
}

.history-btn {
    display: inline-block;
}